@include font-face("EntypoRegular", font-files(
    "entypo.woff", woff,
    "entypo.ttf", truetype,
    "entypo.svg#EntypoRegular", svg
  ),"entypo.eot");

@mixin font-smooth {
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-smooth:always;
}
