$http_path: "";
$images_dir: $http_path + "../../assets/images/";
$fonts_dir: $http_path + "../../assets/fonts/";

$ns: '.dm-';
$white: #fff;
$primary-color: rgb(56, 172, 250);

$base-font-size: 14px;


